<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name="com.freshdigitable.yttt.feature.oauth.TwitchOauthActivity"
            android:exported="true">
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="${scheme}"
                    android:host="${host}" />
            </intent-filter>
        </activity>
    </application>
</manifest>
